@font-face {
    font-family: mainFont;
    src: url(../assets/Akrobat-Regular.otf);
}
@font-face {
    font-family: secondaryFont;
    src: url(../assets/Akrobat-Light.otf);
}

a {
    text-decoration: none;
}

h1 {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background-color: black;
}

.main-content {
    padding: 0 20px;
}

.nav-bar {
    padding: 8px 16px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    background-color: #fee9d6;
}

.nav-bar-home {
    color: black;
    font-size: 40px;
    font-family: mainFont;
}

.nav-bar-contents {
    display: flex;
    margin-left: auto;
    gap: 16px;
}

.nav-bar-contents a{
    color: black;
    font-size: 24px;
    font-family: secondaryFont;
    
}

.headline-container {
    color: #fee9d6;
    font-family: secondaryFont;
    font-size: 26px;
    margin-bottom: 32px;
}

.image-myself {
    background-color: #fee9d6;
    margin: 0 -20px;
}

.current-occupation {
    color: #fee9d6;
    background-color: black;
    font-family: secondaryFont;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}