@font-face {
    font-family: mainFont;
    src: url(../assets/Akrobat-Regular.otf);
}
@font-face {
    font-family: secondaryFont;
    src: url(../assets/Akrobat-Light.otf);
}

a {
    text-decoration: none;
}

h1 {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background-color: var(--black);
}

footer {
    color: var(--white);
    padding: 2vw;
}

.main-content {
    background-color: var(--white);
}

.nav-bar {
    display: flex;
    align-items: center;
    background-color: var(--black);
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.nav-bar-home {
    color: var(--white);
    font-size: 40px;
    font-family: mainFont;
    padding: 0 12px;
}

.nav-bar-contents {
    display: flex;
    margin-left: auto;
    gap: 16px;
    padding: 0 12px;
}

.nav-bar-contents a {
    color: var(--white);
    font-size: 20px;
    font-family: secondaryFont;
}

.main-content {
    background-image: url(../assets/img/background.jpg);
    background-size: cover;
    display: flex;
    padding: 20px;
}

.headline-container {
    color: var(--white);
    font-family: secondaryFont;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
}

.headline-hello {
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-legals {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
}
.footer-legals-item {
}

@media screen and (min-width: 994px) {
    .nav-bar {
        height: 5vh;
    }

    .nav-bar-home {
        font-size: 40px;
        font-family: mainFont;
        padding: 0 30px;
    }

    .nav-bar-contents {
        padding: 0 30px;
    }

    .nav-bar-contents a {
        font-size: 20px;
        font-family: secondaryFont;
    }

    .main-content {
        height: 75vh;
    }

    .headline-container {
        flex-direction: row;
        height: var(--main-content-height-desktop);
    }

    .headline-hello {
        color: var(--white);
        width: 50%;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .introduction {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}